// {
*, *::before, *::after {
   padding: 0;
   margin: 0;
   border: 0;
   box-sizing: border-box;
}
a {
   text-decoration: none;
}
ul, ol, li {
   list-style: none;
}
img {
   vertical-align: top;
}
h1, h2, h3, h4, h5, h6 {
   font-weight: inherit;
   font-size: inherit;
}
html, body {
   height: 100%;
   line-height: 1;
   font-size: 16px;
   color: #000;
}
.wrapper {
   min-height: 100%;
   overflow: hidden;
}
// } //NULLSTYLES (WORKING)


@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

body{
   font-family: 'Delius', cursive;
}

.weather__windows_grid {
   position: fixed; top: 0; right: 0; bottom: 0; left: 0;
   display: grid; grid-template-columns: 1fr 1.15fr;
   grid-template-rows: repeat(3, 1fr);
   grid-column-gap: 5%; grid-row-gap: 5%;
   padding: 50px 2.5%;
   margin-top: 35px;
}
.currentWeatherWindow { grid-area: 1 / 1 / 2 / 2; }
.duringDayWeather { grid-area: 1 / 2 / 2 / 3; }
.windWeather { grid-area: 2 / 1 / 3 / 2; }
.astroWeather { grid-area: 3 / 1 / 4 / 2; }
.nextWeather { grid-area: 2 / 2 / 4 / 3; }

#day{
   // background-color: #87ceeb; /* голубой цвет фона */
   // background-image: linear-gradient(to bottom, #87ceeb, #ffffff); /* градиент от голубого к белому */
   // background-repeat: no-repeat; /* запрет повторения фона */
   // background-attachment: fixed; /* фон зафиксирован на месте при прокрутке */
   background: repeat center/100% url("../images/background/background.jpg");
   ._window{}
   .currentWeatherWindow{
      .city__title{}
   }
   ._wind_backgrounded{
      background-color: rgba(10, 70, 94, 0.314);
   }
   ._wind_bordered{
      border: 3px solid rgb(178, 247, 255);
   }
   ._detailed{
      color: rgb(214, 251, 255);
      background-color: rgb(3, 59, 82);
      padding: 2.5px;
      border-radius: 10px;
   }
   ._font{
      font-size: 1.75rem;
      padding: 3.5px;
   }
}

#night{
//    background: linear-gradient(
//     135deg,
//     #00002C,
//     #04004F,
//     #00002C,
//     #04004F
//   );
   background:repeat center/65% url("../images/background/background-night.jpg");
  color: white;
  ._wind_backgrounded{
   background-color: rgba(91, 68, 173, 0.208);
}
._wind_bordered{
   border: solid rgb(44, 44, 71) 3px;
}
._detailed{
   color: rgb(91, 68, 173);
   background-color: rgba(242, 236, 255, 0.91);
   border-radius: 10px;
   padding: 2.5px;
}
._font{
   font-size: 1.75rem;
   padding: 2px;
}
.header_container p, .header_container li{
   color: white;
}
}


._window{
   display: flex;
   flex-direction: column;
   border-radius: 35px;
   justify-content: center;
   gap: 10%;
}
._detailed{
   font-size: 4rem;
}

.currentWeatherWindow{
   .city__title{
      h3{font-size: 2.65rem; font-weight: 400;}
      font-size: 3.5rem;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
   }
   .city__description{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      font-size: 1.5rem;
      font-weight: 500;
   }
}



button{
   cursor: pointer;
}

._title{
   font-size: 1.15rem;
   align-self: center;
   margin-bottom: 1%;
}

._container{
   height: 85%;
   display: flex;
   flex-direction: column;
   ._list{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      position: relative;

      li{
         font-size: 1.1rem;
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         width: 75%;
      }
      li:nth-child(odd){
         background-color: rgba(91, 68, 173, 0.221);
      }
   };
}

header{
   z-index: 10;
}


.form__content{
   scale: 1.1;
   display: flex;
   flex-direction: column;
   min-height: 150px;
   justify-content: space-between;
   .content_title{
      font-size: 2.35rem;
      background-color: white;
      color: rgb(52, 89, 126);
      padding: 3.5px;
      border-radius: 5px;
   }
   .form__content_buttons{
      display: flex; flex-direction: row;
      justify-content: space-between;
      .form__button{
         background: none;
         border: 2px solid white;
         padding: 5px;
         color: white;
      }
      ._confirm{
         background: white;
         color: rgb(52, 89, 126);
      }
      .form__button:hover{
         background: white;
         color: rgb(52, 89, 126);
      }
      ._confirm:hover{
         background-color: rgb(212, 212, 212);
      }
   }
}
@media (min-width: 769px) {
   .form__content{
      scale: 1.5;
   }
}

input{
   background: white;
   padding: 3.5px;
   border-radius: 5px;
   width: 100%;
   outline: none;
}


.duringday__content {
   align-self: center;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   .duringday h3{
   }
   .duringday__columns {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 20px;
      position: relative;
      overflow-x: scrol;
      overflow-y: hidden;
      max-width: 680px;
      height: 85%;
   }
   .duringday__columns::-webkit-scrollbar{
      width: 2.5px;
      border-radius: 10px;
      border: 1px solid white;
   }
   .duringday__columns::-webkit-scrollbar-track {
  background: rgba(0, 0, 177, 0.353);
  border-radius: 10px;
}

.duringday__columns::-webkit-scrollbar-thumb {
  background-color: darkblue;
  border-radius: 10px;
  border: 3px solid rgb(167, 167, 167);
}
   .columns__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      .column_p{
         position: absolute;
         top: 20%;
         font-size: 1.5rem;
         color: darkblue;
         background-color: rgba(255, 255, 255, 0.407);
         padding: 3px;
         border-radius: 5px;
      }
   }
   .data{
   }
   .duringday_column {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      position: relative;
      height: 90%;
      border: 1px solid white;
      background-color: grey;
      width: 10px;
      opacity: 0.5;
   }
   .column_fill{
      background-color: darkblue;
   }
   .duringday_text {
   }
}
#night{
   .column_fill{
      background-color: rgb(3, 59, 82);
   }
}
#day{
   .column_fill{}
}



.duringweek__content {
}
.duringweek {
}
.duringweek__rows{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 85%;
}
.rows__content {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: rgba(0, 0, 23, 0.405);
   border: 3px solid rgba(161, 161, 161, 0.656);
   flex-direction: row;
   height: 30%;
   margin: 0px 5%;
   padding: 0px 1%;
   .row_columns{
      display: flex;
      flex-direction: column;
      gap: 20px;
      justify-content: space-between;
      height: 75%;
   }
   .row_title{
      font-size: 1.75rem;
   }
   .row_info{
      font-size: 1.15rem;
      display: flex;
      gap: 10px;
      flex-direction: row;
      justify-content: space-between;
      align-items: end;
      flex-wrap: nowrap;
   }
}





// ADAPTIVE
@media (max-width: 1324.9px) {
   .weather__windows_grid{
      padding: 25px 1.5%;
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      overflow-x: hidden;
   }
   ._window{
      min-height: 40%;
   }
   ._bigHeight{
      min-height: 70%;
   }
}

@media (max-width: 695px) {
   .duringday__content{
      .duringday__columns{
         max-width: 575px;
      }
   }
   .row_title{
      width: 30%;
   }
   ._smallScreens{
      display: none;
   }
}
@media (max-width: 560px) {
   .duringday__content{
      .duringday__columns{
         max-width: 350px;
      }
   }
   ._bigHeight{
      min-height: 85%;
   }
   .rows__content p{
      font-size: 0.75rem;
   }
   .rows__content{
      margin: 0px 1%;
      padding: 0px 0.1%;
      gap: 5px;
   }
   ._font{
      font-size: 1.35rem;
   }
   ._container ._list li{
      width: 90%;
   }
}
@media (max-width: 380px) {
   .duringday__content{
      .duringday__columns{
         max-width: 220px;
      }
   }
   ._bigHeight{
      min-height: 95%;
   }
}